<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - Watchify WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - Watchify WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Watchify WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Watchify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D1FE9D81B233DE300249430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1FE9F11B233DE400249430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA400611B236E7600DA8B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA400891B236ED400DA8B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA400B01B236F6600DA8B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
